<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rikxian</title>
    <script src="/static/js/jquery.min.js" charset="utf-8"></script>
    <script src="/static/js/echarts.js" charset="utf-8"></script>

</head>
<body>

<div id="main" style="width: 600px;height:400px;"></div>
<script type="text/javascript">

    var myChart = echarts.init(document.getElementById('main'));
    myChart.showLoading();
    $.get('http://localhost:8080/rimingxi/getday?code=000007', function (data) {
        myChart.hideLoading();
        var option = {
            title: {
                text: 'ECharts 入门示例'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {

            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'line',
                data: [
                    [5,3],
                    [33,22],
                    [65,32],
                    [43,12]
                    ]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);


    });
    </script>
</body>
</html>